body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #4e27ff;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem 1rem;
}

/* nav {
  background: #023047;
} */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.hero-image-container {
  max-width: 100%;
  height: auto;
}

.home {
  background: #4e27ff;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 60px;
  align-items: flex-start;
}

.home .content {
  flex: 1 1 40rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
  margin: 10rem 0;
}

#work-section {
  background-color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

.hero-image-container img {
  width: 100%;
  height: auto;
  margin: 4rem 0;
}

#portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

.portfolio-item {
  text-align: center;
}

.portfolio-item img {
  width: 200px;
  height: auto;
}

#services, #about, #contact {
  height: 100vh;
  color: #333;
  font-size: 2rem;
  line-height: 3rem;
  background-color: #fff;
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.button-link-primary {
  width: fit-content;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  background: #fff;
  color: #4e27ff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: .15rem;
  &:hover {
    background-color: #FFD675;
    font-weight: bold;
  } 
}

@media (min-width: 1201px) {
  /* Styling for extra large screens */
}
