body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #4e27ff;
  font-size: 2rem;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem 1rem;
}

/* nav {
  background: #023047;
} */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.home {
  background: #4e27ff;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 60px;
  align-items: flex-start;
}

.home .content {
  flex: 1 1 40rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
  margin: 10rem 0;
}

#work-section {
  background-color: #fff;
}

.portfolio-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.portfolio-images a {
  margin: 3rem;
}

.portfolio-images img {
  max-width: 100%;
  height: auto;
}

.portfolio-images-subtitle {
  width: fit-content;
  display: inline-block;
  margin-top: 1rem;
  padding: 1.25rem;
  border-radius: 10rem;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  &:hover {
    background-color: #ffd675;
    font-weight: bold;
  }
}

h1 {
  color: black;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  color: black;
  font-size: 2rem;
  line-height: 3rem;
}

.hero-image-container img {
  width: 100%;
  height: auto;
  margin: 4rem 0;
}

#portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}

.portfolio-item {
  text-align: center;
}

.portfolio-item img {
  width: 200px;
  height: auto;
}

#services,
#about,
#contact {
  height: 100vh;
  color: #333;
  font-size: 2rem;
  line-height: 3rem;
  background-color: #fff;
  margin: 0;
}

#google-contact-form {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
}

/* #contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  font-size: 2rem;
}

#contact-form input {
  padding: 2rem 0;
  font-size: 1.5rem;
} */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.button-link-primary {
  width: fit-content;
  display: inline-block;
  padding: 1.25rem;
  border-radius: 10rem;
  background: #fff;
  color: #4e27ff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  &:hover {
    background-color: #ffd675;
    font-weight: bold;
  }
}

.button-link-secondary {
  width: fit-content;
  display: inline-block;
  padding: 1.25rem;
  border-radius: 10rem;
  color: #fff;
  background: #4e27ff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  &:hover {
    background-color: #ffd675;
    font-weight: bold;
  }
}

@media (min-width: 320px) {
  /* Styling for mobile devices */
  body {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Styling for tablets */
  body {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styling for small screens */
  body {
    font-size: 18px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Styling for large screens */
  body {
    font-size: 20px;
  }
  #hero-logo-image {
    display: flex;
    width: 1000px;
    height: auto;
    align-self: center;
  }
}

@media (min-width: 1201px) {
  /* Styling for extra large screens */
  body {
    font-size: 22px;
  }
  #hero-logo-image {
    display: flex;
    width: 1000px;
    height: auto;
    align-self: center;
  }
}
